* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,45,121,1) 47%, rgba(153,0,255,1) 68%)
}



.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h3{
    color: #3b3f5c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app p{
    color: #3b3f5c;
    margin: 20px;
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.form-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 40px;
    background: #3b3f5c;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #FF1818;
}

.fas {
    color: #ffffff;
    font-size: 20px;
}

.fas:hover{
    color: #F8F6E3;
}

.list li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('./images/circle-regular.svg');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #9CFF2E;
    text-decoration: line-through;
}

ul li.checked::before {
   background-image: url('./images/chek.svg');
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #FF1818;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
   background: #D20062;
}

