.container {
    display: grid;
    place-items: center;
}

.sub-container {
    margin: 0 auto;
}

.texto {
   background-color: #000000;
   color: #ffffff;
   padding: 10px;
   font-size: 50px;
   border-radius: 10px 10px 10px 10px;
}

.btn {
    background-color: #ECECEC;
    color: #FFC300;
    border-radius: 50px 50px 0px 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: -123px;
}

.btn:hover {
    background-color: #FF1818;
    color: #ffffff;
}