body{
    background: #ffffff;
}

.nav {
    padding: 20px;
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links {
    text-align: center; /* Centra los elementos de la lista horizontalmente */
  }
  
  .nav-items {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
  }
  
  .nav-items li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin: 0 10px; /* Añade espacio horizontal entre los elementos de la lista */
    text-decoration: none;
  }

  .link {
    text-decoration: none;
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
  }

  .link1 {
    text-decoration: none;
    font-family: monospace;
    color: #000000;
  }

  .link1:hover {
    text-decoration: none;
    font-family: monospace;
    color: #FF6D60;
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Aplicamos verticalmente la linea */
    padding: 200px;
}

.texto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-top: auto; /* Centramos verticalmente el boton */
    border-radius: 40px 40px 40px 40px;
    background-color: #6DA9E4;
    color: #ffffff;
}